<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>TudorForSpeed</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- Link -->
    <link rel="stylesheet" href="~/Css/Index.css" asp-append-version="true">

    <!-- Script -->
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>

    <div id="TFS_Navbar">
        <ul id="TFS_Navul">
            <li>
                <a asp-page="/TeslaMain">Tesla</a>
                <ul>
                    <li>
                        <a asp-page="/TeslaModelS">Model S</a>
                    </li>
                    <li>
                        <a asp-page="/TeslaModel3">Model 3</a>
                    </li>
                    <li>
                        <a asp-page="/TeslaModelX">Model X</a>
                    </li>
                    <li>
                        <a asp-page="/TeslaModelY">Model Y</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-page="/CupraMain">Cupra</a>
                <ul>
                    <li>
                        <a asp-page="/CupraFormentor">Formentor</a>
                    </li>
                    <li>
                        <a asp-page="/CupraLeon">Leon</a>
                    </li>
                    <li>
                        <a asp-page="/CupraLeonSportstourer">Leon Sportstourer</a>
                    </li>
                    <li>
                        <a asp-page="/CupraAteca">Ateca</a>
                    </li>
                    <li>
                        <a asp-page="/CupraBorn">Born</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-page="/FordMain">FORD</a>
                <ul>
                    <li>
                        <a asp-page="/MustangMachE">Mustang Mach-E</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-page="/LexusMain">LEXUS</a>
                <ul>
                    <li>
                        <a asp-page="/LexusUX300E">UX 300e</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-page="/PorscheMain">PORSCHE</a>
                <ul>
                    <li>
                        <a asp-page="/PorscheTaycan">Taycan</a>
                    </li>
                    <li>
                        <a asp-page="/PorscheTaycanCrossTurismo">Taycan Cross Turismo</a>
                    </li>
                </ul>
            </li>
            <li style="float: right;">
                <a asp-area="Identity" asp-page="/Account/Login" style="color: #435775;">Account</a>
            </li>
        </ul>
    </div>

    @RenderBody()
    <script src="~/js/IndexJS.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>