<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManage
<html>
<head>
    <!-- Title -->
    <title>TudorForSpeed</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- Link -->
    <link rel="stylesheet" href="~/Css/Index.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Script -->
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>

    <div id="TFS_Navbar">
        <ul id="TFS_Navul">
            <li>
                <a asp-page="/TeslaMain">Tesla</a>
                <ul>
                    <li>
                        <a asp-page="/TeslaModelS">Model S</a>
                    </li>
                    <li>
                        <a asp-page="/TeslaModel3">Model 3</a>
                    </li>
                    <li>
                        <a asp-page="/TeslaModelX">Model X</a>
                    </li>
                    <li>
                        <a asp-page="/TeslaModelY">Model Y</a>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-page="/CupraMain">Cupra</a>
                <ul>
                    <li>
                        <a asp-page="/CupraFormentor">Formentor</a>
                    </li>
                    <li>
                        <a asp-page="/CupraLeon">Leon</a>
                    </li>
                    <li>
                        <a asp-page="/CupraLeonSportstourer">Leon Sportstourer</a>
                    </li>
                    <li>
                        <a asp-page="/CupraAteca">Ateca</a>
                    </li>
                    <li>
                        <a asp-page="/CupraBorn">Born</a>
                    </li>
                </ul>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li style="float: right;">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" style="width: 150px; height: 60px; padding: 10px; border: 1px solid black; font-size: 24px;background-color: transparent">Logout</button>
                    </form>
                </li>
                <li style="float: right; padding: 6px;">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
                </li>
            }
            else
            {
                <li style="float: right;">
                    <a asp-area="Identity" asp-page="/Account/Login" style="color: #435775;">Account</a>
                </li>
            }
        </ul>
    </div>

    @RenderBody()
    <script src="~/js/IndexJS.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>