<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>Order</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- Link -->
    <link rel="stylesheet" href="~/Css/Order.css" asp-append-version="true">

    <!-- Script -->
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>
    <!-- Navbar -->
    <header>
        <a asp-area="" asp-page="" class="logo">

        </a>
        <nav class="TFS_TeslaCenter TFS_TeslaClose">
            <a asp-page="">Order NOW</a>

        </nav>
        <nav class="TFS_TeslaRight">
            <a asp-area="Identity" asp-page="./Account/Login" class="TFS_TeslaClose">Account</a>
            <a id="menuBtn">Menu</a>
        </nav>
    </header>
    <div class="backdrop"></div>
    <aside>
        <button class="close">&times;</button>
        <a asp-page="./Index">Home</a>
        <h2>TESLA</h2>
        <a asp-page="/TeslaModelS">Model S</a>
        <a asp-page="/TeslaModel3">Model 3</a>
        <a asp-page="/TeslaModelX">Model X</a>
        <a asp-page="/TeslaModelY">Model Y</a>

        <h2>CUPRA</h2>
        <a asp-page="/CupraFormentor">Formentor</a>
        <a asp-page="/CupraLeon">Leon</a>
        <a asp-page="/CupraLeonSportstourer">Leon Sportstourer</a>
        <a asp-page="/CupraAteca">Ateca</a>
        <a asp-page="/CupraBorn">Born</a>
    </aside>

    @RenderBody()
    <script src="~/js/OrderJS.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

