@page
@model TudorForSpeed.Pages.CupraLeonModel
@{
    Layout = "~/Pages/Shared/LayoutCupra/_CupraModelsLayout.cshtml";
}

<div id="mySidenav" class="sidenav">
    <a asp-page="" id="Cupra">Cupra Leon (38.350€)</a>
    <a asp-page="./CupraMain" id="GoBack">Go Back <i class='bx bx-arrow-back'></i></a>
    <a asp-page="" id="OrderNow">OrderNow <i class='bx bxs-shopping-bag'></i></a>
</div>

<section class="CupraForSection">
    <img src="~/Img/CupraLeon/cupra-leon-2020.webp" />
</section>
<section class="CupraForSection">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="8000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img class="d-block" src="~/Img/CupraLeon/4.png" alt="slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Interni Davanti</h5>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <img class="d-block" src="~/Img/CupraLeon/leoninternidavanti.jpg" alt="slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Interni Davanti</h5>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <img class="d-block" src="~/Img/CupraLeon/leoninternidietro.jpg" alt="slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Interni Dietro</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" data-interval="8000">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section class="FinalCupraForSection">
    <div class="FinalCard">
        <div class="FinalCarStats finalblack">
            <div class="FinalCarStats_Video">
                <img src="~/Img/CupraLeon/innovativa.jpg" />
                <h3>Performance. Anche in frenata.</h3>
                <p>
                    Il futuro della mobilità è ibrido. E con Nuova CUPRA Leon è anche sportivo.
                </p>
            </div>
        </div>
        <div class="FinalCarStats finalblack">
            <div class="FinalCarStats_Video">
                <img src="~/Img/CupraLeon/tecnologia.jpg" />
                <h3>Un capolavoro di aerodinamica.</h3>
                <p>
                    CUPRA Virtual Cockpit da 10,25” e touch screen da 10” con comandi vocali Natural Voice Control.
                </p>
            </div>
        </div>
        <div class="FinalCarStats finalblack">
            <div class="FinalCarStats_Video">
                <img src="~/Img/CupraLeon/motore.jpg" />
                <h3>Design inconfondibile.</h3>
                <p>
                    Accelera sulle strade extraurbane e passa alla modalità elettrica in città. Con un’autonomia di 60km senza emissioni.
                </p>
            </div>
        </div>
    </div>
</section>

<footer class="Finale">
    <p>Sito web solamente a scopo didattico creato da Daniele Tudorachi 5IC</p>
</footer>
