@page
@model TudorForSpeed.Pages.CupraAtecaModel
@{
    Layout = "~/Pages/Shared/LayoutCupra/_CupraModelsLayout.cshtml";
}

<div id="mySidenav" class="sidenav">
    <a asp-page="" id="Cupra">Cupra Ateca (48.900€)</a>
    <a asp-page="./CupraMain" id="GoBack">Go Back <i class='bx bx-arrow-back'></i></a>
    <a asp-page="" id="OrderNow">OrderNow <i class='bx bxs-shopping-bag'></i></a>
</div>

<section class="CupraForSection">
    <img src="~/Img/CupraAteca/AtecaGang.jpg" />
</section>
<section class="CupraForSection">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="8000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img class="d-block" src="~/Img/CupraAteca/5.png" alt="slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <img class="d-block" src="~/Img/CupraAteca/atecainternidavanti.jpg" alt="slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Interni Davanti</h5>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <img class="d-block" src="~/Img/CupraAteca/atecainternidietro.jpg" alt="slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Interni Dietro</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" data-interval="8000">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section class="FinalCupraForSection">
    <div class="FinalCard">
        <div class="FinalCarStats finalblack">
            <div class="FinalCarStats_Video">
                <img src="~/Img/CupraAteca/eleganza.jpg" />
                <h3>Potenza allo stato puro, il tuo stile.</h3>
                <p>
                    Infondi vigore alle tue giornate. Il motore da 300 CV di Nuova CUPRA Ateca è in grado di accelerare da 0 a 100 in appena 4,9 secondi.
                </p>
            </div>
        </div>
        <div class="FinalCarStats finalblack">
            <div class="FinalCarStats_Video">
                <img src="~/Img/CupraAteca/potenza.jpg" />
                <h3>Tecnologie innovative.</h3>
                <p>
                    Esperienza perfezionata. Sei versatili modalità di guida, cambio automatico DSG e tecnologia 4Drive.
                </p>
            </div>
        </div>
        <div class="FinalCarStats finalblack">
            <div class="FinalCarStats_Video">
                <img src="~/Img/CupraAteca/tecnologie.jpg" />
                <h3>Espressione di eleganza a prima vista.</h3>
                <p>
                    Fari full LED e distintive finiture in alluminio. Il tocco finale: i freni Brembo.
                </p>
            </div>
        </div>
    </div>
</section>

<footer class="Finale">
    <p>Sito web solamente a scopo didattico creato da Daniele Tudorachi 5IC</p>
</footer>
