@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/Layout/_IndexLayout.cshtml";
}

<div class="OrdiniStats">
    <div class="ShowRow">
        <h2>Ordini recenti</h2>
        <hr>
        <div class="mySlides showfirst">
            <p>
                Name: (Daniele)<br>
                Surname: (Tudorachi)<br>
                Date: (12/02/2022 16:12)<br>
                Model: Tesla Model Y<br>
            </p>
        </div>
        <div class="mySlides">
            <p>
                Name: (Michele)<br>
                Surname: (Garlini)<br>
                Date: (12/02/2022 16:12)<br>
                Model: Tesla Model Y<br>
            </p>
        </div>
        <a onclick="plusSlides(-1)" class="prev" asp-area="" asp-page=""><i class='bx bxs-chevrons-left'></i></a>
        <a onclick="plusSlides(1)" class="next" asp-area="" asp-page=""><i class='bx bxs-chevrons-right'></i></a>
    </div>
</div>
