@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/Layout/_IndexLayout.cshtml";
}

<section class="carbackground">

</section>

<div class="list-group">
        @foreach (var item in Model.Show)
        {
            <a asp-page="./Order" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Wooow Nuovo acquisto</h5>
                    <small>Date: @item.DataOrdine</small>
                </div>
                <p class="mb-1">@item.Name @item.Surname ha ordinato @item.Modello</p>
                <small>Clicami per iniziare anche tu a Ordinare!</small>
            </a>
        }
</div>