@page
@model TudorForSpeed.Pages.Html.TeslaMainModel
@{
    Layout = "~/Pages/Shared/Layout/_TeslaMainLayout.cshtml";
}
<!-- Section -->
<section id="Declaration_site">
    <div class="TSF_ContentImg returnbackpls">
        <h1>Benvenuto nella sezione Tesla</h1>
        <p>
            Usa pure il pulsante MENU per scegliere se vedere altre marche o per tornare alla home
            <br>Qui potrai scegliere tra i vari modelli che tesla produce attualemente.
        </p>
    </div>
</section>

<section id="ShowModelS">
    <div class="TSF_ContentImg">
        <div class="TSF_ContentInfoS">
            <h1>Model S</h1>
            <p>
                <b>Autonomia (Stima)</b> 637km
                <br>
                <b>0-100 km/h</b> 2,1s
                <br>
                <b>Velocità massima</b> 322km/h
                <br>
                <b>Potenza di picco</b> 1020cv
            </p>
            <div class="card-footer">
                <span class="text-title">104.990€</span>
                <a class="button" asp-area="" asp-page="./TeslaModelS">Scopri di più</a>
            </div>
        </div>
    </div>
</section>

<section id="ShowModel3">
    <div class="TSF_ContentImg">
        <div class="TSF_ContentInfo3">
            <h1>Model 3</h1>
            <p>
                <b>Autonomia (WLTP)</b> 602Km
                <br>
                <b>0-100 km/h</b> 3,3
                <br>
                <b>Dual Motor</b> AWD
            </p>
            <div class="card-footer">
                <span class="text-title">54.990€</span>
                <a class="button" asp-area="" asp-page="./TeslaModel3">Scopri di più</a>
            </div>
        </div>
    </div>
</section>

<section id="ShowModelX">
    <div class="TSF_ContentImg">
        <div class="TSF_ContentInfoX">
            <h1>Model X</h1>
            <p>
                <b>Autonomia (Stima)</b> 536km
                <br>
                <b>0-100 km/h</b> 2,6s
                <br>
                <b>1/4 di miglio</b> 9,9s
                <br>
                <b>Potenza di picco</b> 1020cv
            </p>
            <div class="card-footer">
                <span class="text-title">119.990€</span>
                <a class="button" asp-area="" asp-page="./TeslaModelX">Scopri di più</a>
            </div>
        </div>
    </div>
</section>

<section id="ShowModelY">
    <div class="TSF_ContentImg">
        <div class="TSF_ContentInfoY">
            <h1>Model Y</h1>
            <p>
                <b>Autonomia (WLTP)</b> 533Km
                <br>
                <b>Litri di carico</b> 2.100+
                <br>
                <b>Dual Motor</b> AWD
            </p>
            <div class="card-footer">
                <span class="text-title">69.420€</span>
                <a class="button" asp-area="" asp-page="./TeslaModelY">Scopri di più</a>
            </div>
        </div>
    </div>
</section>
